html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    user-select: none;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
}



[data-tooltip] {
    position: relative;
    cursor: pointer;
}


[data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;

    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    z-index: 1000;
}


[data-tooltip]:hover::before {
    opacity: 1;
    visibility: visible;
}


::-webkit-scrollbar {
    width: 5px;

}


::-webkit-scrollbar-thumb {
    background-color: #5C509C;

    border-radius: 5px;

}


::-webkit-scrollbar-track {
    background: #f1f1f1;

    border-radius: 5px;

}


::-webkit-scrollbar-corner {
    background: #f1f1f1;

}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type=number] {
    -moz-appearance: textfield;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}

nav ul li {
    display: inline-block;
    position: relative;
    padding: 4px 10px;
    cursor: pointer;
}

nav ul li:hover {
    background-color: #ececec;
}

nav ul li ul.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

nav ul li ul.dropdown li {
    display: block;
    padding: 4px 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
    white-space: nowrap;
}

nav ul li:hover ul.dropdown {
    display: block;
}


.modal {

    position: fixed;

    z-index: 1;

    left: 0;
    top: 0;
    width: 100%;



    overflow: hidden;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
    background-color: #fefefe;
    margin: 3% auto;

    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: fit-content;
    max-height: calc(70vh + 100px);

    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-form {
    overflow-y: auto;
    max-height: 70vh;


}

.modal h2 {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-form label {
    margin: 10px 0;
    font-weight: bold;
}

.modal-form input,
.modal-form textarea,
.modal-form select {
    width: 100%;

    padding: 10px;

    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

}

.modal-form textarea {
    resize: vertical;

}

.form-actions {
    display: flex;
    justify-content: end;

    width: 100%;
    margin-top: 10px;
    align-items: center;
}

.form-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;

    color: white;
}

.form-actions #cancel-btn {
    background-color: #f44336;

}

.form-actions #save-btn {
    background-color: #5C509C;
}

.form-actions #cancel-btn:hover {
    color: #fefefe;
    background-color: #da190b;

}

.form-actions #save-btn:hover {
    background-color: #4a407a;

}

#findBillDiv {
    position: fixed;
    top: 50px;
    right: 50px;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    /* Light grey for a soft background */
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation: slideDownFadeIn 0.5s ease forwards;
}

@keyframes slideDownFadeIn {
    0% {
        top: -100px;
        opacity: 0;
    }

    100% {
        top: 50px;
        opacity: 1;
        visibility: visible;
    }
}


#findBill {
    height: 24px;
    padding: 6px;
    border: none;
    border-radius: 3px;
    /*outline: none;*/
    background-color: #ffffff;
    /* White background for input */
    color: #333;
    /* Dark text color for contrast */
    font-size: 14px;
}

#findBill:focus {
    /*outline: 2px solid black;*/
    background-color: #fffafa;
    /* Slightly darker grey on focus */
}

#findBill::placeholder {
    color: #888;
    /* Medium grey for placeholder text */
}

#findBillBtn {
    background-color: #5C509C;
    /* Bright blue for the button */
    color: white;
    /* White text for contrast */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

#findBillBtn:hover {
    background-color: #5446a5;
    /* Darker blue on hover */
}




#header {
    background-color: #5C509C;
    color: white;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
}

#header h1 {

    margin: 9px 10px;
}

#header-details input {
    font-size: 16px;
    color: white;
    background: #5C509C;
    border: none;
}

#cart-summary {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
    background-color: #5C509C;
    color: white;
    padding: 10px 20px;


}

.summary-item {
    flex: 1 1 16%;

    text-align: center;
    margin: 5px;
}

#product-input {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 20px;
}

#product-input-labels {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

#product-input-labels label {
    width: 362px;
}

#product-input input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

#product-input button {
    background-color: #5C509C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.suggestions-box {

    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: calc(100% - 420px);
    margin-top: -10px;
    margin-left: 20px;

}

.suggestions-box div {
    padding: 10px;
    cursor: pointer;
}

.suggestions-box div:hover {
    background-color: #f0f0f0;
}


#cart-titles {
    display: flex;
    justify-content: space-evenly;
    background-color: #5C509C;
    color: white;
    padding: 10px;
}

#cart-titles span {
    flex: 1;
    text-align: center;

}

#cart-items {
    max-height: calc(100vh - 240px);
    overflow-y: auto;
    background-color: white;
    flex-grow: 1;
}

#empty-cart {
    font-size: xx-large;
    font-weight: 100;
    display: block;

    justify-content: center;

    align-items: center;

    margin: auto;

}

.cart-item {
    border-bottom: 1px solid #00000017;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.cart-item:hover {
    background-color: rgb(241, 241, 241);

}

.cart-item span {
    flex: 1;
    text-align: center;

}

.remove-btn {
    background-color: #FF5733;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}







#action-container {
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 10px 20px;
    display: flex;
}

#action-container label {
    margin: 5px;
}

#action-container button {
    background-color: #5C509C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#search-box input[type="text"] {
    width: calc(100vw - 430px);
    padding: 10px;
    margin: 5px 0 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#action-container #action-btns {
    width: max-content;
}

#action-container button:hover {
    background-color: #4b4281;
}

.container {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    height: calc(100vh - 150px);
    font-family: Arial, sans-serif;
}

table tr {
    border: 1px solid #ddd;
    padding: .35em;
}

table tr:nth-child(even) {
    background: #e0f7fa;
}

table th,
table td {
    padding: .625em;
    text-align: left;
}

table th {
    background: #5C509C;
    color: #fff;
    font-size: .85em;
    letter-spacing: .1em;
    /*text-transform: uppercase;*/
}

table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}

tbody {
    display: block;
    max-height: 82vh;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}


table tr:hover {
    background-color: #c5cae9;
}

table th:hover {
    background-color: #303f9f;
}


table td:first-child {
    font-weight: bold;
    color: #1a237e;
}

#table-summary {
    display: flex;
    justify-content: end;
    background: #5c509c;
    background: #5c509c;
    padding: 7px 20px;
    color: white;
}